@charset "UTF-8";
/* font-family: 'Bacasime Antique', serif;
font-family: 'Rubik', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

p {
  color: white;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
a:hover {
  background-color: red;
  color: black;
}

p {
  font-family: "Bacasime Antique", serif;
  font-weight: 400;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: white;
  margin-bottom: 2rem;
  text-shadow: 10px 10px 5px red;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: white;
}

.color__black {
  color: black;
}

.color__red {
  color: red;
}

.color__white {
  color: white;
}

.main__maxwhidt {
  max-width: 1200px;
  margin: auto auto;
}

body {
  background-color: black;
}

input {
  outline: 2px solid red;
}
input::placeholder {
  color: black;
}

textarea {
  outline: 2px solid red;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 50px;
  padding: 1em;
}
.nav .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.nav .menu__btn--estetica {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav #menu-variacion {
  display: none;
}
.nav .menu__btn,
.nav .menu__btn::before,
.nav .menu__btn::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.nav .menu__btn::before {
  content: "";
  margin-top: -8px;
}
.nav .menu__btn::after {
  content: "";
  margin-top: 8px;
}
.nav #menu-variacion:checked + .menu__btn--estetica .menu__btn::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.nav #menu-variacion:checked + .menu__btn--estetica .menu__btn {
  background: black;
}
.nav #menu-variacion:checked + .menu__btn--estetica .menu__btn::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 1024px) {
  .nav .menu__btn--estetica {
    display: flex;
  }
  .nav .menu {
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: black;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
  }
  .nav .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    border-bottom: 1px solid #444;
  }
  .nav #menu-variacion:checked ~ .menu {
    transform: scaleY(1);
  }
}

/* ................FOOTER...................... */
.footer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 80% 20%;
  margin-top: 10px;
}
.footer__lista {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  grid-column: 1/1;
  grid-row: 1/1;
}
.footer__lista--item {
  display: flex;
  flex-direction: row;
}
.footer__link {
  display: flex;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.footer__copyright {
  width: auto;
  color: white;
  display: grid;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/2;
  margin-top: 20px;
}
.footer__aplicaciones {
  display: grid;
  grid-column: 2/2;
  grid-row: 1/1;
  border-radius: 0.5rem;
  justify-content: end;
}

fieldset {
  border: 4px solid red;
  background-color: black;
  padding: 10px;
  display: grid;
  grid-column: span 2;
  grid-row: span 2;
}

/* ------------------------INDEX--------------------------------------------- */
/*...................APLICACION DE ESTILOS VERSION MOBILE................... */
@media (max-width: 768px) {
  /* ....................H1 Y BARRA DE NAVEGACION .........................*/
  a {
    text-decoration: none;
    color: red;
  }
  /*............................ SECTION.................................. */
  .section__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
  }
  /* .............................IFRAME.................................. */
  iframe {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vw;
    height: 20vh;
  }
}
/*................. APLICACION DE ESTILOS VERSION DESKTOP.................... */
/*.................... h1 y barra de navegacion................................ */
@media (min-width: 768px) {
  a {
    text-decoration: none;
    color: red;
  }
  /* ...................................SECTION .............................*/
  .section__imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .section__imagenes--destacada1 {
    grid-column: span 2;
    grid-row: 1/1;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section__imagenes--precios {
    padding-left: 20px;
  }
  .section__imagenes--freeclass {
    padding-right: 20px;
  }
  .section__precios {
    margin-left: 20px;
  }
  /* * ................................IFRAME ................................* */
}
h2.titulo__principal {
  font-family: "Bacasime Antique", serif;
  padding-left: 20px;
}

iframe {
  margin-bottom: 10px;
  width: 100vw;
  height: 20vh;
  max-width: 1200px;
}

/* ------------------------------PAGINA FREECLASS----------------------------- */
/* ...................................MAIN.................................... */
.contenedor {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-bottom: 5rem;
}
.contenedor__nombre {
  grid-row: 1/1;
  width: 57%;
}
.contenedor__apellido {
  grid-row: 2;
  width: 57%;
}
.contenedor__dni {
  grid-row: 3;
  width: 57%;
}
.contenedor__email {
  grid-row: 4;
  width: 57%;
}
.contenedor__telefono {
  grid-row: 5;
  width: 57%;
}
.contenedor__camposobligatorios {
  grid-row: 6;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  margin-bottom: 7rem;
  width: 130px;
  border: 2px solid;
  border-radius: 1rem;
  height: 2.5rem;
  font-size: 1.1rem;
}

/* .......................................MAIN............................... */
@media (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 5rem;
  }
  .contenedor__nombre {
    grid-column: 1/1;
    grid-row: 1/1;
    width: 30%;
  }
  .contenedor__apellido {
    grid-column: 1/1;
    grid-row: 2/span 1;
    width: 30%;
  }
  .contenedor__dni {
    grid-column: 2/2;
    grid-row: 1/2;
    width: 30%;
  }
  .contenedor__email {
    grid-column: 2/2;
    grid-row: 2/2;
    width: 30%;
  }
  .contenedor__telefono {
    grid-column: 1/1;
    grid-row: 3;
    width: 30%;
  }
  .contenedor__camposobligatorios {
    grid-column: 2/2;
    grid-row: 3;
    margin-right: 15px;
  }
}
/* :::::::::::::::::::::::PAGINA ACTIVIDADES:::::::::::::::::::::: */
/* ------------------------------SECTION-------------------------- */
/* version mobile de actividades queda ya estructurada con los estilos del index. Se reutilizan etiquetas. por este motivo no puedo anidar estas 3 etiquetas */
@media (min-width: 768px) {
  .section__imagenes--destacada {
    grid-column: span 2;
    grid-row: 1/1;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section__imagenes--crossfit {
    padding-left: 20px;
  }
  .section__imagenes--natacion {
    padding-right: 20px;
  }
  .section__imagenes--tamaño {
    height: 600px;
  }
}
/* :::::::::::::::::::PAGINA PLANES Y PRECIOS::::::::::::::::: */
.planA {
  display: grid;
  grid-row: 3;
  margin-bottom: 20px;
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.planA__basic {
  margin-bottom: 30px;
}

.planB {
  display: grid;
  grid-row: 4;
  margin-bottom: 20px;
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.planB__silver {
  grid-row: 1;
  margin-bottom: 30px;
}

.planC {
  display: grid;
  grid-row: 6;
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
.planC__gold {
  grid-row: 1;
  margin-bottom: 30px;
}

.horarios {
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.plan__gimnasio {
  grid-row: 2;
}

.plan__crossfit {
  grid-row: 3;
}

.plan__cuotas {
  grid-row: 4;
}

.plan__profesor {
  grid-row: 5;
}

.plan__natatorio {
  grid-row: 6;
}

/* ::::::::::::::::: PAGINA CONTACTO::::::::::::::::::::::: */
/* ........................MAIN............................ */
.img__responsive {
  display: none;
}

@media (min-width: 768px) {
  .img__responsive {
    display: block;
  }
  .contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .contacto__img {
    width: 400px;
    height: 600px;
    display: grid;
    grid-column: 2/2;
    margin-right: 10vw;
    margin-bottom: 20px;
  }
  .contacto__informacion {
    display: grid;
    grid-column: 1/1;
    grid-row: 1;
    margin: auto auto;
  }
}
.contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.contacto_informacion {
  display: grid;
  grid-column: 1/1;
  grid-row: 1;
  margin: auto auto;
}
.contacto__texto {
  margin-bottom: 0.5rem;
}
.contacto__label {
  color: white;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.contacto_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}
.contacto__centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__h2 {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
