/* font-family: 'Bacasime Antique', serif;
font-family: 'Rubik', sans-serif; */

$color-n: black;
$color-r: red;
$color-b: white;
$font-s: 'Bacasime Antique', serif;
$font-ss: 'Rubik', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

p {
    color: $color-b;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: $color-r;

    &:hover {
        background-color: $color-r;
        color: $color-n;
    }
}


p {
    font-family: $font-s;
    font-weight: 400;
}

h1 {
    font-family: $font-ss;
    font-weight: 600;
}

h2 {
    font-family: $font-ss;
    color: $color-b;
    margin-bottom: 2rem;
    text-shadow: 10px 10px 5px grey;
}

h3 {
    font-family: $font-ss;
    color: $color-b;
}

.color__black {
    color: $color-n;
}

.color__red {
    color: $color-r;
}

.color__white {
    color: $color-b;
}

.main__maxwhidt {
    max-width: 1200px;
    margin: auto auto;
}

body {
    background-color: $color-n;
}

input {
    outline: 2px solid $color-r;

    &::placeholder {
        color: $color-n;
    }
}

textarea {
    outline: 2px solid $color-r;
}

@mixin planes($row , $margin: auto auto , $bottom: 20px , $align: center , $width: 768px ){
  display: grid;
  grid-row: $row;
  margin: $margin;
  margin-bottom: $bottom;
  text-align: $align;
  max-width: $width;
  }