/* :::::::::::::::::::::::PAGINA ACTIVIDADES:::::::::::::::::::::: */

/* ------------------------------SECTION-------------------------- */

/* version general de actividades queda ya estructurada con los estilos del index. Se reutilizan etiquetas. por este motivo no puedo anidar estas 3 etiquetas */
@media(min-width: 768px) {
    .section__imagenes--destacada {
        grid-column: span 2;
        grid-row: 1/1;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section__imagenes--crossfit {
        padding-left: 20px;
    }

    .section__imagenes--natacion {
        padding-right: 20px;
    }

    .section__imagenes--tamaño {
        height: 600px;
    }
}