/* ------------------------------PAGINA FREECLASS----------------------------- */

/* ...................................MAIN.................................... */

.contenedor {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5rem;

    &__nombre {
        grid-row: 1/1;
        width: 57%;
    }

    &__apellido {
        grid-row: 2;
        width: 57%;
    }

    &__dni {
        grid-row: 3;
        width: 57%;
    }

    &__email {
        grid-row: 4;
        width: 57%;
    }

    &__telefono {
        grid-row: 5;
        width: 57%;
    }

    &__camposobligatorios {
        grid-row: 6;
        margin: auto auto;
    }
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 130px;
    border: 2px solid;
    border-radius: 1rem;
    height: 2.5rem;
    font-size: 1.1rem
}

.img__responsive{
    display: none;
}

/* .......................................MAIN............................... */

@media(min-width: 768px) {

    .img__responsive{
        display: block;
    }

    .freeclass{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        &__img{
            width: 400px;
            height: 600px;
            display: grid;
            grid-column: 1/1;
            margin-left: 10vw;
            margin-bottom: 20px;
        }
    
        &__informacion{
            display: grid;
            grid-column: 2/2;
            grid-row: 1;
            margin: auto auto;
        }
    }

   

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        // margin-right: 50%;
        margin-bottom: 3rem;
        margin-top: 2rem;
        width: 130px;
        border: 2px solid;
        border-radius: 1rem;
        height: 2.5rem;
        font-size: 1.1rem
    }

    .contenedor__camposobligatorios{
        margin-left: 50px;
    }
    
}