/* ------------------------------PAGINA FREECLASS----------------------------- */

/* ...................................MAIN.................................... */

.contenedor {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5rem;

    &__nombre {
        grid-row: 1/1;
        width: 57%;
    }

    &__apellido {
        grid-row: 2;
        width: 57%;
    }

    &__dni {
        grid-row: 3;
        width: 57%;
    }

    &__email {
        grid-row: 4;
        width: 57%;
    }

    &__telefono {
        grid-row: 5;
        width: 57%;
    }

    &__camposobligatorios {
        grid-row: 6;
    }
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    margin-bottom: 7rem;
    width: 130px;
    border: 2px solid;
    border-radius: 1rem;
    height: 2.5rem;
    font-size: 1.1rem
}

/* .......................................MAIN............................... */

@media(min-width: 768px) {

    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        margin-bottom: 5rem;

        &__nombre {
            grid-column: 1/1;
            grid-row: 1/1;
            width: 30%;
        }

        &__apellido {
            grid-column: 1/1;
            grid-row: 2/span 1;
            width: 30%;
        }

        &__dni {
            grid-column: 2/2;
            grid-row: 1/2;
            width: 30%;
        }

        &__email {
            grid-column: 2/2;
            grid-row: 2/2;
            width: 30%;
        }

        &__telefono {
            grid-column: 1/1;
            grid-row: 3;
            width: 30%;
        }

        &__camposobligatorios {
            grid-column: 2/2;
            grid-row: 3;
            margin-right: 15px;
        }
    }
}