/* :::::::::::::::::::PAGINA PLANES Y PRECIOS::::::::::::::::: */

// ---------------------aplicacion de estilos generales-------------------

.planA {
    @include planes(3)
}

.planA__basic {
    margin-bottom: 30px;
}

.planB {
 @include planes (4)
}

.planB__silver {
    grid-row: 1;
    margin-bottom: 30px;
}

.planC {
   @include planes (6)
}

.planC__gold {
    grid-row: 1;
    margin-bottom: 30px;
}

.plan__gimnasio {
    grid-row: 2;
}

.plan__crossfit {
    grid-row: 3;
}

.plan__cuotas {
    grid-row: 4;
}

.plan__profesor {
    grid-row: 5;
}

.plan__natatorio {
    grid-row: 6;
}

.horarios {
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.img__responsive {
    display: none;
}

/* .......................................MAIN version tablet y desktop............................... */

@media(min-width: 768px) {
    .img__responsive {
        display: block;
    }

    .planes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        &__img--responsive {
            width: 400px;
            height: 600px;
            display: grid;
            grid-column: 2/2;
            margin-left: 10vw;
            margin-bottom: 20px;
        }

        &__informacion {
            display: grid;
            grid-column: 1/1;
            grid-row: 1;
            margin: auto auto;
        }
    }
}